/* Tambahkan kode CSS kalian di file ini */
* {
    margin: 0;
    padding: 0;
}

header{
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

#logo {
    width: 120px;
    height: 100px;
}

.track {
    display: flex;
    justify-content: space-around;
}

.track:hover {
    color: #6C96FF;
    cursor: pointer;
}

.track a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}

.track a:hover{
    color: #6C96FF;
}

button {
    cursor: pointer;
}

#btn-nav {
    display: flex;
    justify-content: space-around;
    gap: 10;
}

#login{
    width: 89px;
    height: 32px;
    border: 1px solid #6C96FF;
    background-color: #fff;
    border-radius: 10px;
    padding: 4px 15px;
    color: #6C96FF;
}

#login:hover{
    background-color: #EBFFFE;
}

#regis{
    width: 89px;
    height: 32px;
    border: 1px solid #6C96FF;
    background-color: #6C96FF;
    border-radius: 10px;
    padding: 4px 15px;
    color: #FFFFFF;
}

#regis:hover{
    background-color: #9FBBFF;
}

main{
    font-family: 'Poppins';
}

#start{
    display: flex;
    margin-top: 28px;
    margin-left: 49px;
    margin-right: 49px;
}

#start h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 46px;
    color: #006D75;
    margin-top: 97px;
    margin-bottom: 15.5px;
}

#start h4{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #36CFC9;
    margin-bottom: 11px;
}

#start p{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6D6D6D;
    margin-bottom: 45px;
}

#start button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 211px;
    align-items: center;
    padding: 6.4px 15px;
    gap: 10px;
    height: 50px;
    background: #6C96FF;
    border: 1px solid #6C96FF;
    border-radius: 10px;
}

#start button:hover{
    cursor: pointer;
    background-color: #9FBBFF;
}

#start img{
    width: 702px;
    height: 513px;
    left: 689px;
    top: 101px;
}

#content {
    margin-top: 39px;
}

#content h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #006D75;
}

#content #content-text {
    margin-bottom: 66px;
}

.content-body {
    display: flex;
    justify-content: center;
    margin-left: 266px;
    margin-right: 120px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content-body img {
    width: 209px;
    height: 210px;
    margin-right: 246px;
}

.content-body h3 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    color: #40514E;
    margin-bottom: 15px;
}

.content-body p {
    width: 442px;
    height: 102px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: #6D6D6D;
    margin-bottom: 5px;
}

.content-body button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    width: 162px;
    height: 41px;
    background: #6C96FF;
    border: 1px solid #6C96FF;
    border-radius: 10px;
}

.content-body button:hover {
    cursor: pointer;
    background-color: #9FBBFF;
}

#content #about {
    margin-bottom: 11px;
}

#content .about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 66px;
}

.about #description {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #6D6D6D;
}

.about p strong {
    font-size: 24px;
    color: #006D75;
}

.about p b{    
    color: #4E4F4F;
}

.about h3 {
    margin-top: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 46px;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);;
}

.about div img{
    margin: 20px;
    height: 100px;
    width: 200px;
}

.about #danone{
    height: 100px;
    width: 100px;
}

#content #partner {
    margin-top: 100px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    margin: 0px 66px;
    margin-bottom: 50px;
    margin-left: 200px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

form input{
    width: 600px;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

form #status{
    width: 16px;
    height: 16px;
}

form #submit-form{
    width: 60px;
    margin-top: 10px;
    padding: 5px 5px;
    border: 1px solid #6C96FF;
    background-color: #6C96FF;
    color: #FFFFFF;
}

form #submit-form:hover{
    background-color: #9FBBFF;
}

.footer{
	background-color: #9FBBFF;
    padding: 70px 0;
}

.row{
	display: flex;
	justify-content: space-around;
	align-items: start;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
 }
 .footer-col h4{
     font-size: 18px;
     color: black;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 600;
     position: relative;
 }
 .footer-col h4::before{
     content: '';
     position: absolute;
     left:0;
     bottom: -10px;
     background-color: black;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
 }
 .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
 }
 .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: black;
     text-decoration: none;
     font-weight: 400;
     color: black;
     display: block;
     transition: all 0.3s ease;
 }
 .footer-col ul li a:hover{
     color:#c9ada7;
     padding-left: 8px;
 }
 .footer-col .social-links img{
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: #6C96FF;
     margin:0 7px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #ffffff;
     transition: all 0.5s ease;
 }
 .footer-col .social-links img:hover{
     color: #24262b;
     background-color: #c9ada7;
 }
 
 /*responsive*/
 @media(max-width: 767px){
   .footer-col{
     width: 50%;
     margin-bottom: 30px;
 }
 }
 
 @media(max-width: 574px){
   .footer-col{
     width: 100%;
 }
 }